body {
    background-color: f3f3f3;
}

#First-Header {
	color: black;
	text-align: center;
}	
	
#main-picture {
    height: 150px;
}

#card-header {
	box-shadow: 2px 2px 10px grey
}

a:hover {
  text-decoration: none;
}

#mail {
	color: black;
}

#content {
	text-align: center;
}