
body {
    background-color: #e2ede1;
}

#card-header {
	color: black;
	text-align: center;
  border-color: #000;
  border-width: 4px;
  border-style: solid;
}

#main-picture {
    height: 150px;
}

#First-Header {
  color: black;
}

a:hover {
  text-decoration: none;
}

#content {
	text-align: center;
  border-color: #000;
  border-width: 3px;
  border-style: solid;
  background-color: #81bd57;
}

#skills-bottom {
  margin-bottom: 2.7rem;
}

#skills {
  text-align: justify;
  margin-left: 17.5%;
}

.card {
  margin-bottom: 1rem;
  max-height: 25rem;
}

.btn{
  outline: none !important;
  box-shadow: none !important;
  background-color: #81bd57;
  color: black;
  border: 2px solid black;
  text-align: center;
}

.btn:hover {
  background-color: #e7e7e7;
  transform: scale(1.05);
}
