body {
	background-image: url("../img/background1.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	position: center;
}

/* page title in header */
#home-link {
	color: black;
	font-size: 50px;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: black;
}

/* Let Berend-Folkers tag disapear with certain screen width */
@media screen and (max-width: 1000px) {
	#home-link {
		display: none !important;
	}
}

/* header styling  */
#header {
	border-color: #000;
	border-width: 2px;
	border-style: solid;
	background-color: #f0f0f090;
	text-align: center;
}

#main-picture {
	height: 150px;
	box-align: center;
}

/* menu styling */
#menu {
	border-color: #000;
	border-width: 2px;
	border-style: solid;
	background-color: #f0f0f090;
}

/* content styling */
#content {
	text-align: center;
	border-color: #000;
	border-width: 2px;
	border-style: solid;
	background-color: #f0f0f090;
	margin-bottom: 10%;
}

p {
	margin-top: 1%;
}

.card {
	margin-bottom: 1rem;
}

/* button styling */
.btn {
	background-color: #8c8c8c;
	border: 2px solid black;
}

.btn:hover {
	background-color: #9bd698;
	transform: scale(1.05);
}

/* footer */
.card-footer {
	background-color: rgba(0, 0, 0, 0.2);
}
